# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# --- Logs ---
*.log
project.log

# --- Data ---
data/*.csv
!data/.gitkeep   # mantém a pasta vazia no repositório

# --- OS / IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/
